.list-inline2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px 5px;
    margin: 0px 0px 10px 0px;
}

.list-inline .list-inline-item {
    padding: 15px 15px;
}

.full-width2 {
    width: 100%;
}

.btn2 {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 300px;
    border-radius: 2px;
    display: inline-block;
}

.btn2 {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 300px;
    border-radius: 2px;
    display: inline-block;
}

.btn-primary2 {
    background-color: #004A98;
    color: white;
    border: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    zoom: 1;
    /* SIRVE PARA INCREMENTAR EL TAMAÑO DEL BOTON */
}

.btn3 {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 297px;
    border-radius: 2px;
    display: inline-block;
}

.btn-primary3 {
    background-color: rgb(61, 201, 48);
    color: white;
    border: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    zoom: 1;
    /* SIRVE PARA INCREMENTAR EL TAMAÑO DEL BOTON */
}

.btn-primary2:hover {
    color: white;
    opacity: 1;
    filter: alpha(opacity=50);
    zoom: 1;
}

.btn-primary3:hover {
    color: white;
    opacity: 1;
    filter: alpha(opacity=50);
    zoom: 1;
}